In [1]:
from DANZEM import data
from DANZEM import utils
from DANZEM import lgp

utils.SetDir('C:\\Users\\tahjaa\\Documents\\Research\\DANZEM\\DANZEM\\data')

def GetDemand(day):
    df = data.GetLGPFile(day)
    return lgp.ExtractLoadInfo(df)

demand_df = data.GetDataForRange((2013, 1, 1), (2017, 12, 31), GetDemand)
demand_df.head()

,NI Non-Conforming Load (MW),SI Non-Conforming Load (MW),NI Conforming Load (MW),SI Conforming Load (MW),NI Wind Load (MW),SI Wind Load (MW),NI Total Load (MW),SI Total Load (MW)
tpid,,,,,,,,
2013_01_01_01,362.207,665.813,1516.806,798.127,-246.281,-3.599,1632.732,1460.341
2013_01_01_02,359.719,663.767,1462.487,773.765,-276.399,-5.559,1545.807,1431.973
2013_01_01_03,358.559,663.977,1408.928,737.923,-270.971,-10.135,1496.516,1391.765
2013_01_01_04,356.181,664.670,1354.579,700.039,-239.764,-12.517,1470.996,1352.192
2013_01_01_05,353.432,663.905,1312.529,676.145,-240.354,-14.016,1425.607,1326.034

In [9]:
demand_df.shape

(87648, 8)

In [5]:
from DANZEM import periods

import importlib

importlib.reload(periods)

tps = periods.GetTPData(demand_df.index[0], demand_df.index[-1])
tps.head()

,dst_begins,dst_ends,is_dst,is_national_holiday,is_observed_holiday,month,time_period,weekday,year,yearday
2013_01_01_01,0.0,0.0,1.0,1.0,1.0,1,1,1,2013,1
2013_01_01_02,0.0,0.0,1.0,1.0,1.0,1,2,1,2013,1
2013_01_01_03,0.0,0.0,1.0,1.0,1.0,1,3,1,2013,1
2013_01_01_04,0.0,0.0,1.0,1.0,1.0,1,4,1,2013,1
2013_01_01_05,0.0,0.0,1.0,1.0,1.0,1,5,1,2013,1

In [7]:
tp_df = tps[['dst_begins', 'dst_ends', 'is_national_holiday', 'is_observed_holiday', 'yearday']]

utils.OneHot(tps, columns=['month', 'time_period'], add_df=tp_df)
tp_df.head()

C:\Users\tahjaa\Documents\Research\DANZEM_test\DANZEM\DANZEM\utils.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  add_df[col_name] = series.apply(lambda x: float(x == value))

,dst_begins,dst_ends,is_national_holiday,is_observed_holiday,yearday,month=1,month=2,month=3,month=4,month=5,...,time_period=41,time_period=42,time_period=43,time_period=44,time_period=45,time_period=46,time_period=47,time_period=48,time_period=49,time_period=50
2013_01_01_01,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_02,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_03,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_04,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_05,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
tp_df.shape

(87648, 67)

In [11]:
X = tp_df[5:].copy()
for col in list(demand_df):
    X[col] = list(demand_df[col][:-5])
    
X.head()

,dst_begins,dst_ends,is_national_holiday,is_observed_holiday,yearday,month=1,month=2,month=3,month=4,month=5,...,time_period=49,time_period=50,NI Non-Conforming Load (MW),SI Non-Conforming Load (MW),NI Conforming Load (MW),SI Conforming Load (MW),NI Wind Load (MW),SI Wind Load (MW),NI Total Load (MW),SI Total Load (MW)
2013_01_01_06,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,362.207,665.813,1516.806,798.127,-246.281,-3.599,1632.732,1460.341
2013_01_01_07,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,359.719,663.767,1462.487,773.765,-276.399,-5.559,1545.807,1431.973
2013_01_01_08,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,358.559,663.977,1408.928,737.923,-270.971,-10.135,1496.516,1391.765
2013_01_01_09,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,356.181,664.670,1354.579,700.039,-239.764,-12.517,1470.996,1352.192
2013_01_01_10,0.0,0.0,1.0,1.0,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,353.432,663.905,1312.529,676.145,-240.354,-14.016,1425.607,1326.034

In [12]:
y = demand_df['NI Total Load (MW)'][5:].copy()
y.head()

tpid
2013_01_01_06    1387.802
2013_01_01_07    1377.785
2013_01_01_08    1322.548
2013_01_01_09    1321.781
2013_01_01_10    1324.553
Name: NI Total Load (MW), dtype: float64

In [16]:
from sklearn import preprocessing

import pandas as pd

scaler = preprocessing.MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X),
                 index=X.index,
                 columns=X.columns)

X.head()

,dst_begins,dst_ends,is_national_holiday,is_observed_holiday,yearday,month=1,month=2,month=3,month=4,month=5,...,time_period=49,time_period=50,NI Non-Conforming Load (MW),SI Non-Conforming Load (MW),NI Conforming Load (MW),SI Conforming Load (MW),NI Wind Load (MW),SI Wind Load (MW),NI Total Load (MW),SI Total Load (MW)
2013_01_01_06,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.593376,0.780365,0.111393,0.309802,0.201691,0.271653,0.116769,0.360922
2013_01_01_07,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.586182,0.774227,0.092449,0.284154,0.155252,0.259759,0.088021,0.334612
2013_01_01_08,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.582829,0.774857,0.073770,0.246420,0.163622,0.231991,0.071719,0.297322
2013_01_01_09,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.575953,0.776936,0.054815,0.206536,0.211740,0.217537,0.063279,0.260620
2013_01_01_10,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.568005,0.774641,0.040150,0.181380,0.210830,0.208441,0.048267,0.236360

In [ ]:
from DANZEM import model

model_fn = model.MakeNN([50, 30, 20, 10, 5, 3], loss='mae', reg_strength=0.0001)

performance, results = model.CrossEvaluate(X, y, model_fn,
                                           loss='mae',
                                           model_type = model.KERAS,
                                           max_val_stagnation_epochs=6,
                                           verbose=True)

Cross evaluating model...
Evaluating on fold '2013'...
Before epoch 1: training loss = 2649.18725, validation loss = 2655.29570
Epoch 1: training loss = 143.64575, validation loss = 140.78160
Epoch 2: training loss = 130.00166, validation loss = 127.20618
Epoch 3: training loss = 124.20893, validation loss = 122.15617
Epoch 4: training loss = 115.48469, validation loss = 113.96377
Epoch 5: training loss = 114.27445, validation loss = 112.46400
Epoch 6: training loss = 109.43051, validation loss = 106.38015
Epoch 7: training loss = 108.87583, validation loss = 106.50300
Epoch 8: training loss = 112.09291, validation loss = 109.89401
Epoch 9: training loss = 110.73260, validation loss = 106.97890
Epoch 10: training loss = 105.42374, validation loss = 102.46236
Epoch 11: training loss = 117.72478, validation loss = 114.04389
Epoch 12: training loss = 100.76137, validation loss = 98.31017
Epoch 13: training loss = 99.91200, validation loss = 97.84221
Epoch 14: training loss = 99.35281, validation loss = 97.58922
Epoch 15: training loss = 101.91122, validation loss = 98.61479
Epoch 16: training loss = 98.41220, validation loss = 96.16600
Epoch 17: training loss = 105.40072, validation loss = 102.23840
Epoch 18: training loss = 97.60573, validation loss = 95.54595
Epoch 19: training loss = 96.10455, validation loss = 93.85500
Epoch 20: training loss = 100.24092, validation loss = 96.83607
Epoch 21: training loss = 97.91931, validation loss = 94.81628
Epoch 22: training loss = 102.82988, validation loss = 101.06067
Epoch 23: training loss = 94.84051, validation loss = 92.37312
Epoch 24: training loss = 94.23077, validation loss = 92.28155
Epoch 25: training loss = 98.80021, validation loss = 95.96094
Epoch 26: training loss = 107.03573, validation loss = 103.34328
Epoch 27: training loss = 94.52094, validation loss = 92.15901
Epoch 28: training loss = 93.95624, validation loss = 91.99952
Epoch 29: training loss = 97.34547, validation loss = 94.35783
Epoch 30: training loss = 93.80421, validation loss = 91.97311
Epoch 31: training loss = 100.32708, validation loss = 97.47975
Epoch 32: training loss = 104.22593, validation loss = 102.43991
Epoch 33: training loss = 106.65171, validation loss = 105.55503
Epoch 34: training loss = 93.37890, validation loss = 91.81405
Epoch 35: training loss = 93.68337, validation loss = 91.48680
Epoch 36: training loss = 92.70707, validation loss = 90.68212
Epoch 37: training loss = 92.77444, validation loss = 90.80273
Epoch 38: training loss = 92.64142, validation loss = 90.68305
Epoch 39: training loss = 91.83444, validation loss = 90.14055
Epoch 40: training loss = 93.90247, validation loss = 90.86521
Epoch 41: training loss = 92.91801, validation loss = 90.21060
Epoch 42: training loss = 91.66990, validation loss = 89.84984
Epoch 43: training loss = 92.70722, validation loss = 91.06182
Epoch 44: training loss = 94.10093, validation loss = 92.65592
Epoch 45: training loss = 93.10563, validation loss = 91.38834
Epoch 46: training loss = 91.16837, validation loss = 89.21781
Epoch 47: training loss = 93.28672, validation loss = 91.72366
Epoch 48: training loss = 90.52202, validation loss = 88.68516
Epoch 49: training loss = 90.82077, validation loss = 89.14218
Epoch 50: training loss = 90.84940, validation loss = 88.62515
Epoch 51: training loss = 90.69118, validation loss = 88.64750
Epoch 52: training loss = 90.63585, validation loss = 89.05807
Epoch 53: training loss = 90.94840, validation loss = 89.04702
Epoch 54: training loss = 90.48561, validation loss = 88.90300
Epoch 55: training loss = 89.79703, validation loss = 87.94590
Epoch 56: training loss = 91.87751, validation loss = 89.73918
Epoch 57: training loss = 94.99894, validation loss = 93.14898
Epoch 58: training loss = 89.43592, validation loss = 87.41382
Epoch 59: training loss = 89.49565, validation loss = 88.07943
Epoch 60: training loss = 91.74858, validation loss = 88.65249
Epoch 61: training loss = 89.65029, validation loss = 88.03125
Epoch 62: training loss = 88.91944, validation loss = 87.38841
Epoch 63: training loss = 88.48577, validation loss = 86.87097
Epoch 64: training loss = 89.13768, validation loss = 86.50876
Epoch 65: training loss = 88.54028, validation loss = 86.10634
Epoch 66: training loss = 88.17662, validation loss = 85.82162
Epoch 67: training loss = 88.30526, validation loss = 86.13461
Epoch 68: training loss = 88.02423, validation loss = 85.56660
Epoch 69: training loss = 88.34420, validation loss = 86.54475
Epoch 70: training loss = 90.08058, validation loss = 87.62008
Epoch 71: training loss = 88.53305, validation loss = 86.32369
Epoch 72: training loss = 87.52767, validation loss = 85.06897
Epoch 73: training loss = 88.20901, validation loss = 85.67230
Epoch 74: training loss = 92.14915, validation loss = 90.55527
Epoch 75: training loss = 89.40285, validation loss = 87.44054
Epoch 76: training loss = 88.38211, validation loss = 86.59618
Epoch 77: training loss = 93.07524, validation loss = 91.23857
Epoch 78: training loss = 90.51496, validation loss = 87.95641
Best loss: 85.06897
Score on fold '2013': 90.38649
Evaluating on fold '2014'...
Before epoch 1: training loss = 2649.17513, validation loss = 2637.55741
Epoch 1: training loss = 141.87210, validation loss = 145.99708
Epoch 2: training loss = 138.73230, validation loss = 143.00566
Epoch 3: training loss = 137.29834, validation loss = 142.02605
Epoch 4: training loss = 133.18273, validation loss = 137.43917
Epoch 5: training loss = 121.30151, validation loss = 124.90793
Epoch 6: training loss = 112.49569, validation loss = 115.80482
Epoch 7: training loss = 113.13460, validation loss = 114.80164
Epoch 8: training loss = 111.39178, validation loss = 113.48537
Epoch 9: training loss = 105.36212, validation loss = 106.97641
Epoch 10: training loss = 104.32987, validation loss = 106.49898
Epoch 11: training loss = 102.45207, validation loss = 104.39411
Epoch 12: training loss = 101.23535, validation loss = 103.48621
Epoch 13: training loss = 103.87812, validation loss = 106.52455