In [5]:
from DANZEM import periods
from DANZEM import utils

utils.SetDir('C:\\Users\\tahjaa\\Documents\\Research\\DANZEM\\DANZEM\\data')

import importlib

importlib.reload(periods)

tps = periods.GetTPData((2018, 1, 1, 1), (2018, 12, 31, 48))

tps.head()

,dst_begins,dst_ends,is_dst,is_national_holiday,is_observed_holiday,month,time_period,weekday,year
2018_01_01_01,False,False,True,True,True,1,1,0,2018
2018_01_01_02,False,False,True,True,True,1,2,0,2018
2018_01_01_03,False,False,True,True,True,1,3,0,2018
2018_01_01_04,False,False,True,True,True,1,4,0,2018
2018_01_01_05,False,False,True,True,True,1,5,0,2018

In [7]:
tps['2018_04_01_01':'2018_04_01_10']

,dst_begins,dst_ends,is_dst,is_national_holiday,is_observed_holiday,month,time_period,weekday,year
2018_04_01_01,False,True,True,False,False,4,1,6,2018
2018_04_01_02,False,True,True,False,False,4,2,6,2018
2018_04_01_03,False,True,True,False,False,4,3,6,2018
2018_04_01_04,False,True,True,False,False,4,4,6,2018
2018_04_01_05,False,True,True,False,False,4,5,6,2018
2018_04_01_06,False,True,True,False,False,4,6,6,2018
2018_04_01_07,False,True,True,False,False,4,7,6,2018
2018_04_01_08,False,True,True,False,False,4,8,6,2018
2018_04_01_09,False,True,True,False,False,4,9,6,2018
2018_04_01_10,False,True,True,False,False,4,10,6,2018